@import url("https://fonts.googleapis.com/css?family=Nunito:400,600,700");

// define color here
@import "_variables";
@import "rewrite_quasar";
@import "addToCalender";
@import "quasar.variables";

#app {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-family: "Nunito", sans-serif;
  background-color: $body-bg;
}

.page-title {
  margin: 20px 1px 0 0;
  font-size: 34px;
  font-weight: 600;
  text-align: center;
  color: #12263f;
}

.sub-title {
  font-size: 14px;
  font-weight: 600;
  line-height: 1.5;
  text-align: center;
  color: $sub-title;
}

.pointer {
  cursor: pointer;
}

.banner-title {
  font-size: 0.9rem;
  border-color: rgba(18, 38, 63, 0.1);
  background-color: #12263f;
}

.container-dropdown-login-username {
  .login-name {
    font-size: 16px;
    font-weight: 600;
  }
}

.grecaptcha-badge {
  display: none;
}

.itg-text-overflow {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.itg-q-item {
  background-color: white;
}

.web-width {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}

.button-second-nine {
  width: 48%;
  height: 40px;
  float: left;
  margin: 2px 2px 2px 2px;
  text-align: center;
  border: solid 1px gray;
  padding-top: 8px;
}

.q-table th, .q-table td {
  font-size: 14px;
}

.q-header {
  background-color: $header;
  color: $header_font;
}

.q-drawer {
  background-color: $qDrawer;
  color: $qDrawer_font;
}

.q-background {
  background-color: $bg-primary;
  opacity: 0.8;
}

.bg-primary {
  background-color: $primary;
  color: $primary_font;
}

.bg-secondary {
  background-color: $secondary;
  color: $secondary_font;
}

.dashboard-card {
  opacity: 0.9;

  .dashboard-card-title {
    font-size: 1.1em;
    font-weight: bold;
    padding: 8px;
  }
}
