// Quasar SCSS (& Sass) Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass/SCSS variables found in Quasar's source Sass/SCSS files.

// Check documentation for full list of Quasar variables

// Your own variables (that are declared here) and Quasar's own
// ones will be available out of the box in your .vue/.scss/.sass files

// It's highly recommended to change the default colors
// to match your app's branding.
// Tip: Use the "Theme Builder" on Quasar's documentation website.

$primary: #64605E;
$secondary: #222222;
$accent: #9c27b0;

//$header: #31ccec;
$header: #64605E;
$header_font: #fff;

$qDrawer: #222222;
$qDrawer_font: #fff;

//$bg-primary: #e3e3e3;
$bg-primary: #323232;


$primary_font: #fff;
$secondary_font: #fff;

$dark: #1d1d1d;

$positive: #21ba45;
$negative: #c10015;
$info: #31ccec;
$warning: #222222;
